html,
body {
    height: 100%;
    overflow: hidden;
}

main {
  height: 98%;
  display: flex;
}

canvas {
   border: 1px solid black;
   display: block;
   flex-flow: row wrap;
}

canvas[resize] {
    width: 100%;
    height: 100%;
}

#control {
  margin-left:  0.5rem;
  max-width: 170px;
  flex-flow: row wrap;
}

button {
  width: 100%;
  margin-bottom: 0.2rem;
    background-color: #555555;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 8px;
    transition-duration: 0.15s;
}

.normalButton {
  background-color: #555555;
}

.normalButton:hover {
    background-color: #008CBA;
    color: white;
}

.normalButton:active{
  background-color:#35a6cc;
}

.normalButton:focus {
  outline: none;
}

.checkedButton {
  background-color: #008CBA;
}

.checkedButton:hover {
    background-color: #35a6cc;
    color: white;
}

.checkedButton:active{
  background-color:#008CBA;
}

.checkedButton:focus {
  outline: none;
}

